<html>

<head>
    <title>Upload Test</title>
</head>

<body>

    <br>
    <br>
    <form enctype="multipart/form-data" method="post">
        <input type="file" name="uploadInput" />
        <input type="file" name="uploadInput" />
        <input type="file" name="uploadInput" />
        <input id='submitFile' type="submit" />
    </form>
</body>

</html>
